@tailwind base;
@tailwind components;
@tailwind utilities;

/* Comienza a copiar desde aqui */
:root{
    --primary:#CC3636;
    --secondary:#367E18;
    --tertiary:#FFE9A0;
    --quaternary:#F57328;
}

/* Estilos Generales */
body {
    @apply bg-tertiary-300;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    @apply text-tertiary-900;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    @apply text-tertiary-900;

}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    @apply text-tertiary-900;

}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    @apply text-tertiary-900;

}

p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    @apply text-tertiary-900;

}

span {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    @apply text-tertiary-900;

}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
li{
    list-style: none;
}

/* Componentes */


.btn--primary {
    background: var(--primary);
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    @apply py-3 px-8 text-tertiary-50 w-fit
}

.btn--secondary {
    background: var(--secondary);
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    @apply py-3 px-8 text-tertiary-50

}
.btn--icon{
    @apply flex items-center text-lg font-semibold text-tertiary-900 gap-2
}



.card--features{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    border-radius: 12px;
    @apply bg-tertiary-400 flex flex-col gap-10 py-10 px-9 items-center text-center m-5
}
.card--features > img,.card--features > svg{
    @apply h-32
}

.card--product{
    max-width: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    @apply bg-tertiary-400 flex flex-col gap-10 py-10 px-9 text-center items-center m-5
}
.card--product > img,.card--product > svg{
    @apply h-32
}


/* hasta aqui */

.CTA{
    height: 50vh;
    @apply justify-center mb-28
}
.CTA--container{
    @apply flex flex-col gap-6 items-center text-center
}
.CTA--container a{
    @apply mt-5
}

footer {
     @apply flex flex-wrap gap-12 md:flex-nowrap md:justify-around;
}
.footer__contact-info{
    @apply flex flex-col;
}
.footer__contact-info h3{
    @apply mb-4;
}

.footer__about{
    @apply flex flex-col gap-3 sm:w-1/2;
}

/* home page */

.features{
    margin: 150px 0;

}
.products{
    margin: 150px 0;

}

.hero--container{
    height: 80vh;
    @apply justify-center
}